<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ccs_service_id %>
    <%= form.text_field :ccs_service_id %>
  </div>

  <div class="field">
    <%= form.label :api_dom %>
    <%= form.text_field :api_dom %>
  </div>

  <%= format_hash(@service_profile.to_hash, '') %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
