<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <%= form.label :address_type, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :address_type %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :street_line1, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :street_line1 %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :street_line2, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :street_line2 %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :suburb, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :suburb %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :state , class: "col-sm-3 col-form-label"%>
    <%= form.text_field :state %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :postcode, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :postcode %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :start_date, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :start_date, type: "date" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :end_date, class: "col-sm-3 col-form-label" %>
    <%= form.text_field :end_date, type: "date" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary mb-2 ml-3", style: "color: white;"  %>
  </div>

<% end %>
<style>
  .col-form-label{
    font-size: 10px;
  }
</style>