<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Street line1</th>
      <th>Street line2</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.address_type %></td>
        <td><%= address.street_line1 %></td>
        <td><%= address.street_line2 %></td>
        <td><%= address.suburb %></td>
        <td><%= address.state %></td>
        <td><%= address.postcode %></td>
        <td><%= address.start_date %></td>
        <td><%= address.end_date %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', root_path(address: address) %></td>
        <!-- <td><%#= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<style type="text/css">
  table{
    font-size: 10px;
  }
</style>