<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @address.address_type %>
</p>

<p>
  <strong>Street line1:</strong>
  <%= @address.street_line1 %>
</p>

<p>
  <strong>Street line2:</strong>
  <%= @address.street_line2 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @address.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @address.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @address.end_date %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
